gbrain-seed/brain.pglite/base/* -text
gbrain-seed/brain.pglite/base/*/* -text
gbrain-seed/brain.pglite/base/*/*/* -text
gbrain-seed/brain.pglite/global/* -text
gbrain-seed/brain.pglite/pg_logical/* -text
gbrain-seed/brain.pglite/pg_multixact/*/* -text
gbrain-seed/brain.pglite/pg_multixact/* -text
gbrain-seed/brain.pglite/pg_subtrans/* -text
gbrain-seed/brain.pglite/pg_xact/* -text
gbrain-seed/brain.pglite/postgresql.conf -text
gbrain-seed/brain.pglite/postgresql.auto.conf -text
gbrain-seed/brain.pglite/pg_hba.conf -text
gbrain-seed/brain.pglite/pg_ident.conf -text
gbrain-seed/brain.pglite/PG_VERSION -text
